


  <!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


  <!--
  pt-br.:
  Desenvolvido por: Luan Felipe Costa
  Contato: (12) 98115-2989 (Tim / Número Whatsapp) | luanfelipecosta@gmail.com

  en-us.:
  Developed by: Luan Felipe Costa
  Contact: +55 12 98115-2989 (Whatsapp Number) | luanfelipecosta@gmail.com
  -->

  <head>
          <!-- Meta Tags -->
          <meta charset="utf-8">
          <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
          <meta name="description" content="Rua Estrada Arcílio de Moreira da Silva, 61 - Residencial Gazzo - São José dos Campos - SP CEP:12236-500"/>
          <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, onepage, responsive, mobile"/>
          <meta name="author" content="Denis Griu"/>
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
          <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

          <!-- Web Fonts -->
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700' rel='stylesheet' type='text/css'>

          <!-- Css Global Compulsory -->
          <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

          <!-- Css Implementing Plugins -->
          <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/css/style.css" media="screen">
          <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/css/extralayers.css" media="screen">
          <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/rs-plugin/css/settings.css" media="screen">
          <link rel="stylesheet" href="assets/plugins/owl/owl-carousel/owl.carousel.css">
          <link rel="stylesheet" href="assets/plugins/owl/owl-carousel/owl.theme.css">
          <link rel="stylesheet" href="assets/plugins/cube/cubeportfolio.min.css">
          <link rel="stylesheet" href="assets/plugins/jquery.mmenu.css">        

          <!-- Css Theme -->
          <link rel="stylesheet" href="assets/css/style.css">
      </head>
