  <!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


  <!--
  pt-br.:
  Desenvolvido por: Luan Felipe Costa
  Contato: (12) 98115-2989 (Tim / Número Whatsapp) | luanfelipecosta@gmail.com

  en-us.:
  Developed by: Luan Felipe Costa
  Contact: +55 12 98115-2989 (Whatsapp Number) | luanfelipecosta@gmail.com
  -->

    
  <!-- Navbar -->
  <div id="header" class="header">
      <nav class="navbar navbar-default navbar-static header-nav header-nav-black" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- Logo -->
                  <a class="navbar-brand" href="#home"><img src="assets/img/logo.png"/> </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="#home">Home</a></li>
                      <li><a href="#projects">Ultimos Projetos</a></li>
                      <li><a href="#about">Sobre</a></li>
                      <li> <a href="projects.php"> Projetos </a> </li>
                      <li><a href="#contactus">Contato</a></li>
                  </ul>
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
  </div>
  <!-- Navbar -->
